:root {
  --primary: 143 76 53;
  --surface-tint: 143 76 53;
  --on-primary: 255 255 255;
  --primary-container: 255 219 208;
  --on-primary-container: 57 12 0;
  --secondary: 119 87 77;
  --on-secondary: 255 255 255;
  --secondary-container: 255 219 208;
  --on-secondary-container: 44 22 14;
  --tertiary: 106 94 47;
  --on-tertiary: 255 255 255;
  --tertiary-container: 243 226 167;
  --on-tertiary-container: 34 27 0;
  --error: 186 26 26;
  --on-error: 255 255 255;
  --error-container: 255 218 214;
  --on-error-container: 65 0 2;
  --background: 255 248 246;
  --on-background: 35 25 23;
  --surface: 255 248 246;
  --on-surface: 35 25 23;
  --surface-variant: 245 222 215;
  --on-surface-variant: 83 67 63;
  --outline: 133 115 110;
  --outline-variant: 216 194 187;
  --shadow: 0 0 0;
  --scrim: 0 0 0;
  --inverse-surface: 57 46 43;
  --inverse-on-surface: 255 237 232;
  --inverse-primary: 255 181 157;
  --primary-fixed: 255 219 208;
  --on-primary-fixed: 57 12 0;
  --primary-fixed-dim: 255 181 157;
  --on-primary-fixed-variant: 114 53 32;
  --secondary-fixed: 255 219 208;
  --on-secondary-fixed: 44 22 14;
  --secondary-fixed-dim: 231 189 176;
  --on-secondary-fixed-variant: 93 64 54;
  --tertiary-fixed: 243 226 167;
  --on-tertiary-fixed: 34 27 0;
  --tertiary-fixed-dim: 214 198 141;
  --on-tertiary-fixed-variant: 81 70 26;
  --surface-dim: 232 214 209;
  --surface-bright: 255 248 246;
  --surface-container-lowest: 255 255 255;
  --surface-container-low: 255 241 237;
  --surface-container: 252 234 229;
  --surface-container-high: 247 228 223;
  --surface-container-highest: 241 223 218;
}

[data-mode='dark'] {
  --primary: 132 210 229;
  --surface-tint: 132 210 229;
  --on-primary: 0 54 63;
  --primary-container: 0 78 91;
  --on-primary-container: 168 237 255;
  --secondary: 178 203 210;
  --on-secondary: 28 52 57;
  --secondary-container: 51 74 80;
  --on-secondary-container: 206 231 238;
  --tertiary: 190 197 235;
  --on-tertiary: 39 47 77;
  --tertiary-container: 62 69 101;
  --on-tertiary-container: 221 225 255;
  --error: 255 180 171;
  --on-error: 105 0 5;
  --error-container: 147 0 10;
  --on-error-container: 255 218 214;
  --background: 15 20 22;
  --on-background: 222 227 229;
  --surface: 15 20 22;
  --on-surface: 222 227 229;
  --surface-variant: 63 72 75;
  --on-surface-variant: 191 200 203;
  --outline: 137 146 149;
  --outline-variant: 63 72 75;
  --shadow: 0 0 0;
  --scrim: 0 0 0;
  --inverse-surface: 222 227 229;
  --inverse-on-surface: 43 49 51;
  --inverse-primary: 0 104 121;
  --primary-fixed: 168 237 255;
  --on-primary-fixed: 0 31 38;
  --primary-fixed-dim: 132 210 229;
  --on-primary-fixed-variant: 0 78 91;
  --secondary-fixed: 206 231 238;
  --on-secondary-fixed: 6 31 36;
  --secondary-fixed-dim: 178 203 210;
  --on-secondary-fixed-variant: 51 74 80;
  --tertiary-fixed: 221 225 255;
  --on-tertiary-fixed: 18 26 55;
  --tertiary-fixed-dim: 190 197 235;
  --on-tertiary-fixed-variant: 62 69 101;
  --surface-dim: 15 20 22;
  --surface-bright: 52 58 60;
  --surface-container-lowest: 9 15 17;
  --surface-container-low: 23 29 30;
  --surface-container: 27 33 34;
  --surface-container-high: 37 43 45;
  --surface-container-highest: 48 54 55;
}
